.featured-properties {
    background: #0f172a;
    padding: 5rem 2rem;
}

.featured-title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.properties-grid {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 2rem;
}