.navbar{
    position:absolute;
    top:0;
    left:0;
  width:100%;
    box-sizing:border-box;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:1.5rem 3rem;

    z-index:100;
}

.logo{
    display:flex;
    align-items:center;
    gap:.8rem;
}

.logo-icon{
    color:#d4af37;
    font-size:2rem;
}

.logo h2{
    color:white;
    font-size:1rem;
    letter-spacing:2px;
    margin:0;
}

.logo p{
    color:#d4af37;
    letter-spacing:3px;
    margin:0;
    font-size:.8rem;
}

.nav-links{
    display:flex;
    gap:2.5rem;
    list-style:none;
}

.nav-links li{
    color:white;
    cursor:pointer;
    transition:.3s;
}

.nav-links li:hover{
    color:#d4af37;
}

.nav-btn{
    background:transparent;

    border:1px solid #d4af37;

    color:#d4af37;

    padding:.8rem 1.4rem;

    border-radius:8px;

    cursor:pointer;
}

.nav-btn:hover{
    background:#d4af37;
    color:#0f172a;
}
.menu-btn {
    display: none;
    background: transparent;
    border: 1px solid #d4af37;
    color: #d4af37;
    padding: .4rem .7rem;
    border-radius: 6px;
    font-size: 1.3rem;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar {
        padding: 1rem 1.2rem;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }
      .menu-btn {
        display: block;
    }

    .logo h2 {
        font-size: .8rem;
    }

    .logo p {
        font-size: .65rem;
    }
}